<% if user_signed_in? && current_user.admin? %>
<div class="hospital_overview_header_out">
	<div class="hospital_overview_header_in">
		<div id="page_header">
			<p id="page_header_title">Register a New Issue</p>
			<h3 id="page_header_subtitle">Upon logging in, all of your hospitals will see this as a potential issue. This can be a great way to help them be mindful of possible pitfalls by providing additional perspective on the project, as well as giving them an avenue to provide feedback to you in real time.</h3>
		</div>
<%= form_for @issue do |f| %>
  <% if @issue.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@issue.errors.count, "error") %> prohibited this issue from being saved:</h2>

      <ul>
      <% @issue.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<div>
	<%= f.label "Issue", class: "field_label" %>
	<br />
	<%= f.text_field :title, class: "field_input_general", :placeholder => 'We need better resources for training.', :autofocus => true %>
</div>
  <br />
  <div class="actions">
    <%= f.submit "Add Issue", class: "add_task_btn" %>
    <%= link_to 'Back', admin_issue_index_path, class: "back_btn", data: { confirm: 'All unsaved data will be lost - are you sure?' } %>
  </div>
<% end %>

</div>
<% end %>