<% if user_signed_in? && current_user.admin?%> <h2 style="text-align:center;"><%= User.find(params[:hospital_id]).organization%></h2>
<% @admin_hospital_list = Task.where('user_id = ?', params[:hospital_id]).pluck(:id) %>
<% @hospital_id = params[:hospital_id] %>
<div class="hospital_overview_header_out">
	<div class="hospital_overview_header_in">
		<% @true_count = User.find(@hospital_id).tasks.where('status = ?', true).count %>
		<% @total_count = User.find(@hospital_id).tasks.count %>
		<% @progress_bar = number_to_percentage((@true_count.to_f / @total_count) * 100) %>
		<div id="hospital_progress_outer">
			<div id="hospital_progress_inner" style="width: <%= @progress_bar %>"></div>
		</div>
		<% @admin_hospital_list.each do |task| %>
		<% if Task.find(task).status == true%>
		<table class="task_list">
			<% else %>
			<table class="task_list_red">
				<% end %>
				<tbody>
					<tr class="task_row">
						<td class="step"><%= Task.find(task).position %></td>
						<td class="task_title" id="title_<%= task %>"><%= Task.find(task).title %><p class="click_for_more"><i>more >></i></p></td>
						<% if Task.find(task).status == true%>
						<td class="admin_change_status"><a href='/tasks/<%= Task.find(task).id %>/status_change'>Complete!</a></td>
						<% else %>
						<td class="admin_change_status_red"><a href='/tasks/<%= Task.find(task).id %>/status_change'>Incomplete</a></td>
						<% end %>
						<td class="task_modify"><%= link_to 'Modify', edit_task_path(task) %></td>
						<td class="task_delete"><%= link_to 'Delete', Task.find(task), method: :delete, data: { confirm: 'Are you sure?' } %></td>
					</tr>
					
					</tbody>
			
			</table>
			<div class= "task_description" id="description_<%= task %>">
						<p class="description_inside"><%= Task.find(task).description %></p>
					</div>
					<script>
					
		$("#title_<%= task %>").click(function() {
						$("#description_<%= task %>").css({"display" : "block", "z-index" : "9999999999"});
						setTimeout(function(){$("#description_<%= task %>").css({"opacity" : ".9", "height" : "200px"})},5);
						});

						$("#description_<%= task %>").click(function() {
						$("#description_<%= task %>").css({"opacity" : "0", "height" : "0px"});
						setTimeout(function(){$("#description_<%= task %>").css({"display" : "none", "z-index" : "0"})},160);
						});
						
					</script>
					<% end %>
			<%= link_to 'Add New Task', new_task_path, class: 'add_task' %>
	</div>
</div>
<br>
<br>

<% else %>

<script type="text/javascript">window.location.href = "/"</script>

<% end %>