<% if user_signed_in? && current_user.admin?%> 
<div class="hospital_overview_header_out">
	<div class="hospital_overview_header_in">
		<div id="page_header">
			<p id="page_header_title">Master Task List</p>
			<h3 id="page_header_subtitle">All changes, additions, and deletions to the task list are reflected in every hospital in your organization. Proceed with caution.</h3>
		</div>
		<% @task_list_overview.each do |task| %>
		<% @task_ids = task.id %>
		<% if task.user == current_user %>
		<table class="task_list_master">
				<tbody>
					<tr class="task_row">
						<td class="step"><%= task.position %></td>
						<td class="task_title" id="title_<%= @task_ids %>"><%= task.title %></td>
						<td class="task_modify"><%= link_to 'Modify', edit_task_path(task) %></td>
						<td class="task_delete"><%= link_to 'Delete', task, method: :delete, data: { confirm: 'Deleting this task will delete it from every hospital - are you sure?' } %></td>
					</tr>
					
					</tbody>
			
			</table>
			<div class= "task_description" id="description_<%= @task_ids %>">
						<p class="description_inside"><%= auto_link(simple_format(task.description)) %></p>
					</div>
					<script>
					
					$("#title_<%= @task_ids %>").click(function () {
   					 $("#description_<%= @task_ids %>").toggleClass("open");
						});

					</script>
					<% end %>
					<% end %>
			<%= link_to 'Add New Task', new_task_path, class: 'add_task' %> 
	</div>
</div>
<br>
<br>

<% else %>

<script type="text/javascript">window.location.href = "/"</script>

<% end %>