<% if user_signed_in? && current_user.admin?%>
<h1>Listing tasks</h1>

<table>
  <thead>
    <tr>
      <th>position</th>
      <th>Title</th>
      <th>Description</th>
      <th>Owner</th>
      <th>Status</th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
  	<% @admin_hospital_list = Task.where('user_id = ?', params[:hospital_id]).pluck(:id) %>
    <% @admin_hospital_list.each do |task| %>
      <tr>
      	<td><%= Task.find(task).position %></td>
        <td><%= Task.find(task).title %></td>
        <td><%= Task.find(task).description %></td>
        <td><%= Task.find(task).user.email %></td>
        <td><%= Task.find(task).status %></td>
       <td><a href='/tasks/<%= task %>/status_change'>Change Status</a></td>
       <td><%= link_to 'Modify', edit_task_path(task) %></td>
       <td><%= link_to 'Delete', Task.find(task), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>

      <% end %>
  </tbody>
</table>

<br>
 <%= link_to 'New Task', new_task_path %> <%= link_to 'Log Out', destroy_user_session_path, method: :delete %>
 
 <% else %>

<script type="text/javascript">window.location.href = "/"</script>

<% end %>



