<% if user_signed_in? && current_user.admin?%>
<div class="hospital_overview_header_out">
	<div class="hospital_overview_header_in">
		<div id="page_header">
			<p id="page_header_title"><%= User.find(params[:hospital_id]).organization %></p>
			<% if User.find(params[:hospital_id]).sign_in_count == 0 %>
			<h3 style="text-align: left;"><%= User.find(params[:hospital_id]).p_fname %> <%= User.find(params[:hospital_id]).p_lname %> has not signed in yet.</h3>
			<% else %>
			<h3 style="text-align: left;"><%= User.find(params[:hospital_id]).p_fname %> <%= User.find(params[:hospital_id]).p_lname %> last signed in on <%= User.find(params[:hospital_id]).last_sign_in_at.strftime("%B %m at %I:%M %p") %></h3>
			<% end %>
		</div>
		<% if Task.where('t_parent = ?', current_user.u_parent).count.to_i == 0 %>
		<%= link_to "Create Your First Task", new_task_path, class: "add_task" %>
		<%= link_to 'Delete Hospital Account', user_registration_path(User.find(params[:hospital_id])), class: "delete_hospital_btn", :confirm => 'Deleting this hospital will remove all notes and task data associated with it - are you ABSOLUTELY sure?', :method => :delete %>
		<% else %>
		<% @true_count = User.find(@hospital_id).tasks.where('status = ?', true).count %>
		<% @total_count = User.find(@hospital_id).tasks.count %>
		<% @progress_bar = number_to_percentage((@true_count.to_f / @total_count) * 100) %>
		<div id="hospital_progress_outer">
			<div id="hospital_progress_inner" style="width: <%= @progress_bar %>"></div>
		</div>
		<% @admin_hospital_list.each do |task| %>
		<% if Task.find(task).status == true%>
		<table class="task_list_green_before">
			<% else %>
			<table class="task_list_red_before">
				<% end %>
				<tbody>
					<tr class="task_row">
						<td class="step"><%= Task.find(task).position %></td>
						<td class="task_title" id="title_<%= task %>"><%= Task.find(task).title %><p class="click_for_more"><i></i></p></td>
						<td class="double_td">
	                                                		<p class="click_note_text" id="click_note_text<%= task %>">Read User's Note</p>
	                                                		<p class="click_description_text" id="click_description_text<%= task %>">View Description</p>
                                                	</td>
						<td class="double_td">
	                                                	<% if Task.find(task).note == nil || Task.find(task).note == "" %>
	                                                		<p class="click_note" id="click_note_<%= task %>"></p>
	                                                		<% else %>
	                                                		<p class="click_note note_present" id="click_note_<%= task %>"></p>
                                                		<% end %>
	                                                		<p class="click_description" id="click_description_<%= task %>"></p>
													        <div class="note_wrapper" id="note_<%= task %>">
															<div class="note_header">
																<p class="note_step"><%= Task.find(task).position %></p>
																<p class="note_title"><%= Task.find(task).title %></p>
																<p class="note_close" id="note_close<%= task %>">X Close</p>
															</div>
															<textarea readonly class="note_textbox" id="note_text_<%= task %> autofocus="true" placeholder="No note has been entered for this task."><%= Task.find(task).note %></textarea>
														</div>
														<script>
																	$("#click_note_<%= task %>").click(function () {
																	 $("#note_<%= task %>").css({"display" : "block"});
																	 setTimeout(function(){$("#note_<%= task %>").css({"opacity" : "1"});}, 150);
																		});
																	$("#note_close<%= task %>").click(function () {
																	 $("#note_<%= task %>").css({"opacity" : "0"});
																	 setTimeout(function(){$("#note_<%= task %>").css({"display" : "none"});}, 150);
																		});
														</script>
                                                	</td>
					</tr>
					
					</tbody>
			
			</table>
			<div class= "task_description" id="description_<%= task %>">
						<p class="description_inside"><%= auto_link(simple_format(Task.find(task).description)) %></p>
					</div>
					<script>
					
					$("#click_description_<%= task %>").click(function () {
   					 $("#description_<%= task %>").toggleClass("open");
   					 $("#click_description_<%= task %>").toggleClass("click_description_open");
						});
					$("#title_<%= task %>").click(function () {
   					 $("#description_<%= task %>").toggleClass("open");
   					 $("#click_description_<%= task %>").toggleClass("click_description_open");
						});

					</script>
	                    <script>
						$("#click_note_<%= task %>").mouseenter(function () {
						 $("#click_note_text<%= task %>").css({"background-color" : "rgb(251, 196, 148)", "opacity" : "1"});
							});
						$("#click_note_<%= task %>").mouseleave(function () {
						 $("#click_note_text<%= task %>").css({"background-color" : "#7777777", "opacity" : "0"});
							});
							
						$("#click_description_<%= task %>").mouseenter(function () {
						 $("#click_description_text<%= task %>").css({"background-color" : "rgb(125, 177, 220)", "opacity" : "1"});
							});
						$("#click_description_<%= task %>").mouseleave(function () {
						 $("#click_description_text<%= task %>").css({"background-color" : "#7777777", "opacity" : "0"});
							});
	</script>
					<% end %>
					<%= link_to 'Delete User Account', user_registration_path(User.find(params[:hospital_id])), class: "delete_hospital_btn", :confirm => 'Deleting this hospital will remove all notes and task data associated with it - are you ABSOLUTELY sure?', :method => :delete %>
	</div>
</div>
<br>
<br>
<% end %>
<% else %>

<script type="text/javascript">window.location.href = "/"</script>

<% end %>