<% if user_signed_in? && current_user.admin?%>
<h2 style="text-align:center;"><%= User.find(params[:hospital_id]).organization %></h2>
<% if User.find(params[:hospital_id]).sign_in_count == 0 %>
<h3 style="text-align:center;"><%= User.find(params[:hospital_id]).p_fname %> <%= User.find(params[:hospital_id]).p_lname %> has never signed in.</h3>
<% else %>
<h3 style="text-align:center;"><%= User.find(params[:hospital_id]).p_fname %> <%= User.find(params[:hospital_id]).p_lname %> last signed in on <%= User.find(params[:hospital_id]).last_sign_in_at.to_s(:short) %></h3>
<% end %>

<% @admin_hospital_list = Task.where('user_id = ?', params[:hospital_id]).pluck(:id) %>
<% @hospital_id = params[:hospital_id] %>
<div class="hospital_overview_header_out">
	<div class="hospital_overview_header_in">
		<% if Task.where('t_state = ?', current_user.u_state).count.to_i == 0 %>
		<%= link_to "Create Your First Task", new_task_path, class: "add_task" %>
		<% else %>
		<% @true_count = User.find(@hospital_id).tasks.where('status = ?', true).count %>
		<% @total_count = User.find(@hospital_id).tasks.count %>
		<% @progress_bar = number_to_percentage((@true_count.to_f / @total_count) * 100) %>
		<div id="hospital_progress_outer">
			<div id="hospital_progress_inner" style="width: <%= @progress_bar %>"></div>
		</div>
		<% @admin_hospital_list.each do |task| %>
		<% if Task.find(task).status == true%>
		<table class="task_list_green_before">
			<% else %>
			<table class="task_list_red_before">
				<% end %>
				<tbody>
					<tr class="task_row">
						<td class="step"><%= Task.find(task).position %></td>
						<td class="task_title" id="title_<%= task %>"><%= Task.find(task).title %><p class="click_for_more"><i>more >></i></p></td>
					</tr>
					
					</tbody>
			
			</table>
			<div class= "task_description" id="description_<%= task %>">
						<p class="description_inside"><%= auto_link(simple_format(Task.find(task).description)) %></p>
					</div>
					<script>
					
					$("#title_<%= task %>").click(function () {
   					 $("#description_<%= task %>").toggleClass("open");
						});

					</script>
					<% end %>
	<!--		<%= link_to 'Add New Task', new_task_path, class: 'add_task' %> -->
	</div>
</div>
<br>
<br>
<% end %>
<% else %>

<script type="text/javascript">window.location.href = "/"</script>

<% end %>