<div id="form_outer_wrapper">
	<h2 style="text-align:center;">Update Task</h2>
<%= form_for @task do |f| %>
  <% if @task.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@task.errors.count, "error") %> prohibited this task from being saved:</h2>

      <ul>
      <% @task.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
    <div class="field">
    <%= f.hidden_field :position_from, value: @task.position %>
  </div>
<div>
  <h2 id="position_field_label">Step: </h2>
    <%= f.number_field :position, class: "field_input_position", :value => @task.position %>
  </div>
  <br />
  <div>
    <%= f.text_field :title, class: "field_input_general", :placeholder => 'Task Title', :autofocus => true %>
  </div>
  <br />
  <div>
    <%= f.text_area :description, class: "field_input_general", :placeholder => 'Task Description' %>
  </div>
  <br />
  <div class="actions">
    <%= f.submit "Update Task", class: "add_task_btn" %>
    <%= link_to 'Back', admin_task_overview_path, class: "back_btn" %>
  </div>
<% end %>

</div>
</div>