<% if user_signed_in? %>
<% if current_user.admin? %>
<script type="text/javascript">window.location.href = "/admin_view"</script>
<% else %>	
<div class="hospital_overview_header_out">
	<div class="hospital_overview_header_in">
		<div id="page_header">
			<p id="page_header_title">Task Overview</p>
			<h3 id="page_header_subtitle">To complete a task, simply click the red box to the right of its title. As tasks are completed, the green progress bar will fill up from left to right.</h3>
		<p id="page_header_progress" style="color: rgba(101,190,110,.8);">Progress</p>
		<div id="hospital_progress_outer">
			<div id="hospital_progress_inner"></div>
			 <style>
				#hospital_progress_inner {
					width: <%= number_to_percentage(@progress_bar) %>;
				}
			</style> 
		</div>
		</div>
		<% @tasks.each do |task| %>
		<% @task_ids = task.id %>
		<% if task.status == true%>
		<table class="task_list_green_before" id="row_<%= @task_ids %>">
                        <% else %>
                        <table class="task_list_red_before" id="row_<%= @task_ids %>">
                                <% end %>
                                <tbody>
                                        <tr class="task_row">
                                                <td class="step"><%= task.position %></td>
                                                <td class="task_title" id="title_<%= @task_ids %>"><%= task.title %>
                                                	</td>
                                                	<td class="doublt_td">
	                                                		<p class="click_note_text" id="click_note_text<%= @task_ids %>">View/Modify Note</p>
	                                                		<p class="click_description_text" id="click_description_text<%= @task_ids %>">View Description</p>
                                                	</td>
                                                	<td class="doublt_td">
	                                                		<p class="click_note" id="click_note_<%= @task_ids %>"></p>
	                                                		<p class="click_description" id="click_description_<%= @task_ids %>"></p>
													        <div class="note_wrapper" id="note_<%= @task_ids %>">
															<div class="note_header">
																<p class="note_step"><%= task.position %></p>
																<p class="note_title"><%= task.title %></p>
																<p class="note_close" id="note_close<%= @task_ids %>">X</p>
															</div>
															<%= form_tag save_note_task_path(task.id), method: 'post' do %>
																<%= text_area_tag(:note_change, task.note, class: "note_textbox", placeholder: "Enter your note for this task here and don't forget to save with the green 'O' button when you're finished.") %>
																<%= button_to "O", { :action => "save_note", :id => task.id }, method: :get, class: "note_save" %>
															<% end %>
															<!-- <textarea class="note_textbox" id="note_text_<%= @task_ids %> autofocus="true" placeholder="Enter your note for this task here and don't forget to save with the green 'O' button when you're finished."><%= task.note %></textarea>-->
														</div>
														<script>
																	$("#click_note_<%= @task_ids %>").click(function () {
																	 $("#note_<%= @task_ids %>").css({"display" : "block"});
																	 setTimeout(function(){$("#note_<%= @task_ids %>").css({"opacity" : "1"});}, 150);
																		});
																	$("#note_close<%= @task_ids %>").click(function () {
																	 $("#note_<%= @task_ids %>").css({"opacity" : "0"});
																	 setTimeout(function(){$("#note_<%= @task_ids %>").css({"display" : "none"});}, 150);
																		});
														</script>
                                                	</td>
                                                <% if task.status == true%>
                                        <td class="change_status_green_before" id="status_<%= @task_ids %>"><%= link_to '', status_change_task_path(task.id), :remote => true %></td>
					<script>

					$("#status_<%= @task_ids %>").click(function () {
   					 $("#status_<%= @task_ids %>").toggleClass("change_status_red_after");
   					 $("#row_<%= @task_ids %>").toggleClass("task_list_red_after");
   					 $("#status_<%= @task_ids %>").toggleClass("change_status_green_before");
   					 $("#row_<%= @task_ids %>").toggleClass("task_list_green_before");
						});

					</script>
                                                <% else %>
                                        <td class="change_status_red_before" id="status_<%= @task_ids %>"><%= link_to '', status_change_task_path(task.id), :remote => true %></td>
					<script>

					$("#status_<%= @task_ids %>").click(function () {
   					 $("#status_<%= @task_ids %>").toggleClass("change_status_green_after");
   					 $("#row_<%= @task_ids %>").toggleClass("task_list_green_after");
   					 $("#status_<%= @task_ids %>").toggleClass("change_status_red_before");
   					 $("#row_<%= @task_ids %>").toggleClass("task_list_red_before");
						});

					</script>
                                                <% end %>
                                                <script>
                                                					$("#click_note_<%= @task_ids %>").mouseenter(function () {
																	 $("#click_note_text<%= @task_ids %>").css({"background-color" : "rgb(251, 196, 148)", "opacity" : "1"});
																		});
                                                					$("#click_note_<%= @task_ids %>").mouseleave(function () {
																	 $("#click_note_text<%= @task_ids %>").css({"background-color" : "#7777777", "opacity" : "0"});
																		});
																		
                                                					$("#click_description_<%= @task_ids %>").mouseenter(function () {
																	 $("#click_description_text<%= @task_ids %>").css({"background-color" : "rgb(125, 177, 220)", "opacity" : "1"});
																		});
                                                					$("#click_description_<%= @task_ids %>").mouseleave(function () {
																	 $("#click_description_text<%= @task_ids %>").css({"background-color" : "#7777777", "opacity" : "0"});
																		});
                                                </script>
                                        </tr>
        </div>
        
        
        </tbody>
        

        </table>
			<div class= "task_description" id="description_<%= @task_ids %>">
						<p class="description_inside"><%= auto_link(simple_format(task.description)) %></p>
					</div>
					<script>
					
					$("#click_description_<%= @task_ids %>").click(function () {
   					 $("#description_<%= @task_ids %>").toggleClass("open");
   					 $("#click_description_<%= @task_ids %>").toggleClass("click_description_open");
						});
					$("#title_<%= @task_ids %>").click(function () {
   					 $("#description_<%= @task_ids %>").toggleClass("open");
   					 $("#click_description_<%= @task_ids %>").toggleClass("click_description_open");
						});

					</script>
					<% end %>
	<% end %>
	<% end %>
</div>
</div>