<% if user_signed_in? %>
<% if current_user.admin? %>
<script type="text/javascript">window.location.href = "/admin_view"</script>
<% else %>
<div class="hospital_overview_header_out">
	<div class="hospital_overview_header_in">
		<% @true_count = User.find(current_user.id).tasks.where('status = ?', true).count %>
		<% @total_count = User.find(current_user.id).tasks.count %>
		<% @progress_bar = number_to_percentage((@true_count.to_f / @total_count) * 100) %>
		<div id="hospital_progress_outer">
			<div id="hospital_progress_inner" style="width: <%= @progress_bar %>"></div>
		</div>

		<% @tasks.each do |task| %>
		<% if task.user == current_user %>
		<% if task.status == true%>
		<table class="task_list">
			<% else %>
			<table class="task_list_red">
				<% end %>
				<tbody>
					<tr class="task_row">
						<td class="step"><%= task.position %></td>
						<td class="task_title"><%= task.title %></td>
						<% if task.status == true%>
						<td class="change_status"><a href='/tasks/<%= task.id %>/status_change'>Complete!</a></td>
						<% else %>
						<td class="change_status_red"><a href='/tasks/<%= task.id %>/status_change'>Incomplete</a></td>
						<% end %>
					</tr>
	</div>
	<% end %>
	<% end %>
	</tbody>

	</table>

	<br>
	<% end %>
	<% end %>
</div>
</div>