<div class="hospital_overview_header_out">
	<div class="hospital_overview_header_in">
		<div id="page_header">
			<p id="page_header_title">Create a New Task</p>
			<h3 id="page_header_subtitle">Make sure your new task has a step, title and description. New tasks are added to every hospital for your organization.</h3>
		</div>
<%= form_for @task do |f| %>
  <% if @task.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@task.errors.count, "error") %> prohibited this task from being saved:</h2>

      <ul>
      <% @task.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
<div>
	<%= f.label "Step:", class: "field_label" %>
	<br />
	<% @next_task = (Task.where('t_parent = ?', current_user.u_parent).pluck(:position).uniq.count.to_i + 1) %>
	<%= f.number_field :position, class: "field_input_position", :value =>  @next_task %>
</div>
  <br />  
<div>
	<%= f.label "Task Title", class: "field_label" %>
	<br />
	<%= f.text_field :title, class: "field_input_general", :placeholder => 'Place the cart.', :autofocus => true %>
</div>
  <br />
<div>
	<%= f.label "Task Description", class: "field_label" %>
	<br />
	<%= f.text_area :description, class: "field_input_general", :placeholder => 'Make sure this is always done after the horse and not before.' %>
</div>
  <br />
  <div class="actions">
    <%= f.submit "Create Task", class: "add_task_btn" %>
    <%= link_to 'Back', admin_task_overview_path, class: "back_btn", data: { confirm: 'All unsaved data will be lost - are you sure?' } %>
  </div>
<% end %>

</div>
</div>
</div>

