<div class="hospital_overview_header_out">
	<div class="hospital_overview_header_in">
				<div id="page_header">
			<p id="page_header_title">Modify Account</p>
		<h3 id="page_header_subtitle">Here you can make changes to your account information.</h3>
		</div>
<div id="form_outer_wrapper">
	<h2 style="text-align:center;">Primary Contact Information</h2>
<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put }) do |f| %>
  <%= devise_error_messages! %>
<div>
	<%= f.text_field :organization, class: "field_input_general", :autofocus => true, :placeholder => 'Organization' %>
</div>
	<br />
<div style="position:relative;">
	<%= f.text_field :p_fname, class: "field_input_general", class: "field_input_fname", :placeholder => 'First Name' %>
	<%= f.text_field :p_lname, class: "field_input_general", class: "field_input_lname", :placeholder => 'Last Name' %>
</div>
	<br />
<div>
	<%= f.email_field :email, class: "field_input_general", :placeholder => 'Email (also their login)' %>
</div>
<br />
<div>
	<%= f.text_field :p_phone, class: "field_input_general", class: "field_input_fname", :placeholder => 'Phone Number' %>
</div>
	<br />
	<div id="change_password_button"><h3>> Change Password?</h3></div>
	<br />
	<div class="change_password">
<div>
	<%= f.password_field :password, class: "field_input_general", :placeholder => 'New Password' %>
</div>
	<br />
<div>
	<%= f.password_field :password_confirmation, class: "field_input_general", :placeholder => 'Confirm New Password' %>
</div>
<br />
</div>
<div>
	<%= f.password_field :current_password, class: "field_input_general", :placeholder => 'Type current password here to save changes', :style => 'border:2px solid #e85151;' %>
</div>
<br />
<h2 style="text-align:center;">Secondary Contact Information</h2>
<div style="position:relative;">
	<%= f.text_field :s_fname, class: "field_input_general", class: "field_input_fname", :placeholder => 'First Name' %>
	<%= f.text_field :s_lname, class: "field_input_general", class: "field_input_lname", :placeholder => 'Last Name' %>
</div>
	<br />
<div>
	<%= f.email_field :s_email, class: "field_input_general", :placeholder => 'Email (not used for login)' %>
</div>
	<br />
	<div>
	<%= f.text_field :s_phone, class: "field_input_general", class: "field_input_fname", :placeholder => 'Phone Number' %>
</div>
<div>
	<%= f.submit "Update User Information", class: "enroll_btn" %>
</div>
<% end %>
</div>
</div>
</div>
<br />
<br />
<br />
<br />
<br />