<% if user_signed_in? && current_user.admin?%>
<div class="hospital_overview_header_out">
	<div class="hospital_overview_header_in">
				<div id="page_header">
			<p id="page_header_title">Enroll New Hospital</p>
<% if User.where('u_parent = ?', current_user.u_parent).where('admin = ?', false).count.to_i >= 4 %>
<h2>It appears that you have reached your limit of 4 hospitals. Either remove a hospital or contact <a href="mailto:kprather@smalljumps.com" class="text_link">kprather@smalljumps.com</a> to discuss upgrading.</h2>
<% else %>
		<h3 id="page_header_subtitle">Adding a new hospital will allow them to log in and begin working through the task list you've created.</h3>
		</div>
	<h1 style="text-align: left;">Primary Contact Information</h1>
<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
<%= devise_error_messages! %>
<div>
	<%= f.label "Organization", class: "field_label" %>
	<%= f.text_field :organization, class: "field_input_general", :autofocus => true, :placeholder => 'Their Company' %>
</div>
	<br />
<div>
	<%= f.label "First Name", class: "field_label" %>
	<%= f.text_field :p_fname, class: "field_input_general", :placeholder => 'John' %>
</div>
	<br />
<div>
	<%= f.label "Last Name", class: "field_label" %>
	<%= f.text_field :p_lname, class: "field_input_general", :placeholder => 'Smith' %>
</div>
	<br />
<div>
	<%= f.label "Email", class: "field_label" %>
	<%= f.email_field :email, class: "field_input_general", :placeholder => 'john@theircompany.com' %>
</div>
	<br />
<div>
	<%= f.label "Password", class: "field_label" %>
	<%= f.password_field :password, class: "field_input_general", :placeholder => 'Give them a password that they will use for their first time logging in' %>
</div>
	<br />
<div>
	<%= f.label "Confirm Password", class: "field_label" %>
	<%= f.password_field :password_confirmation, class: "field_input_general", :placeholder => 'They will be able to change it themselves afterwards' %>
</div>
<br />
<div>
	<%= f.label "Phone Number", class: "field_label" %>
	<%= f.text_field :p_phone, class: "field_input_general", class: "field_input_fname", :placeholder => 'xxx-xxx-xxxx' %>
</div>
<br />
<h1 style="text-align: left;">Secondary Contact Information</h1>
<div>
	<%= f.label "First Name", class: "field_label" %>
	<%= f.text_field :s_fname, class: "field_input_general", :placeholder => 'Jane' %>
</div>
	<br />
<div>
	<%= f.label "Last Name", class: "field_label" %>
	<%= f.text_field :s_lname, class: "field_input_general", :placeholder => 'Doe' %>
</div>
	<br />
<div>
	<%= f.label "Email", class: "field_label" %>
	<%= f.email_field :s_email, class: "field_input_general", :placeholder => 'jane@theircompany.com' %>
</div>
	<br />
	<div>
	<%= f.label "Phone Number", class: "field_label" %>
	<%= f.text_field :s_phone, class: "field_input_general", class: "field_input_fname", :placeholder => 'xxx-xxx-xxxx' %>
</div>
<div>
	<%= f.submit "Enroll", class: "enroll_btn" %>
</div>
<br />
<% end %>
</div>
</div>
<% end %>
<% else %>

<script type="text/javascript">window.location.href = "/"</script>

<% end %>