<% if user_signed_in? && current_user.admin? %>

<script type="text/javascript">window.location.href = "/admin_view"</script>

<% elsif user_signed_in? %>

<script type="text/javascript">window.location.href = "/tasks"</script>

<% else %>
<div id="home_header_bg"></div>
<div id="home_header">
	<div id="logo_wrapper">
		<img id="home_logo" src="https://s3.amazonaws.com/gaicd10rails/icd10logowhite.png" />
		<h2 id="home_sub_header">Easy-to-use, online software to track, manage and succeed with ICD-10.</h2>
	</div>
	<div id="white_corner"></div>
</div>
<div id="blue_corner"></div>
<div id="home_content_upper">
	<h1 id="home_signin_text">Already a user?</h1>
	<%= link_to 'Log In >', new_user_session_path, :data => { :no_turbolink => true }, class: "home_signin_button" %>
</div>
<div id="home_content_lower_wrapper">
	<div id="home_content_lower">
		<h1 class="home_title_text" style="color: rgb(105, 157, 200);">Consider the following statements and click any that apply to you:</h1>
		<table class="home_table" id="home_table_1">
			<tbody>
				<tr class="home_row" id="home_row_1">
					<td>
						<h3 class="home_page_table_text">You are assisting a large number of hospitals or providers through the ICD-10 transition.</h3>
					</td>
					<td class="home_page_table_icon" id="home_page_table_icon_1">
						<div class="home_page_table_icon_link" id="home_page_table_icon_link_1"></div>
					</td>
				</tr>
			</tbody>
		</table>
		<table class="home_table" id="home_table_2">
			<tbody>
				<tr class="home_row" id="home_row_2">
					<td>
						<h3 class="home_page_table_text">You currently offer ICD-10 education and would like to offer project tracking as well.</h3>
					</td>
					<td class="home_page_table_icon" id="home_page_table_icon_2">
						<div class="home_page_table_icon_link" id="home_page_table_icon_link_2"></div>
					</td>
				</tr>
			</tbody>
		</table>
		<table class="home_table" id="home_table_3">
			<tbody>
				<tr class="home_row" id="home_row_3">
					<td>
						<h3 class="home_page_table_text">You send out surveys to determine hospitals' or providers' status in the ICD-10 transition.</h3>
					</td>
					<td class="home_page_table_icon" id="home_page_table_icon_3">
						<div class="home_page_table_icon_link" id="home_page_table_icon_link_3"></div>
					</td>
				</tr>
			</tbody>
		</table>
		<br />
		<h1 class="home_title_text">If you checked any of these, we would love to chat.</h1>
		<p class="home_contact_us_button">Sign up, absolutely free ></p>
		<div id="home_contact_form_wrapper">
			<h1 class="home_title_text">You're just one quick form away from getting started!</h1>
			<%= form_tag({controller: "pages", action: "create_admin_user_from_homepage"}, method: "post", :id => "home_contact_form") do %>
				<%= text_field_tag(:homepage_fname, nil, :placeholder => "First Name", :id => "home_email_field", :class => "home_contact_focus") %>
				<%= text_field_tag(:homepage_lname, nil, :placeholder => "Last Name", :id => "home_email_field") %>
				<%= text_field_tag(:homepage_organization, nil, :placeholder => "Your Organization", :id => "home_email_field") %>
				<%= email_field_tag(:homepage_email, nil, :placeholder => "Email Address", :id => "home_email_field") %>
				<%= password_field_tag(:homepage_password, nil, :placeholder => "Password (8 characters, contains a letter and a number)", :id => "home_email_field") %>
				<%= password_field_tag(:homepage_password_confirm, nil, :placeholder => "Confirm Password", :id => "home_email_field") %>
				<%= text_field_tag(:homepage_phone, nil, :placeholder => "Phone Number", :id => "home_email_field") %>
				<%= submit_tag("Sign Up", :id => "home_email_submit") %>
			<% end %>
			<div id="home_contact_form_confirmation">
				<h1>Thanks much and we'll be in touch!</h1>
			</div>
		</div>
		<div id="blue_corner_bottom_right"></div>
	</div>
	<br />
</div>
<div id="home_footer_content_wrapper">
	<div id="home_footer_content">
		<h2 class="home_footer_text">We've taken our collective experiences and worked hard to develop a platform to simplify the ICD-10 transition process. We're proud to give away as much as we can, for free, and you can get started right now.</h2>
	</div>
</div>


<% end %>
