<div id="logo">
<h1 id="site_title">ICD-10 Project Manager</h1>
<a href="/users/edit" id="logged_in_as">Logged in as <%= current_user.p_fname %> <%= current_user.p_lname %></a>
</div>
<div class="headerControlsWrapper">
	<div class="menu_item" id="headerHospitalIndex">
		<div class="app_icon_container" id="hospitalIndexIcon">
			<%= link_to "Hospital Index", admin_view_path, class: "menu_item_text" %>
		</div>
	</div>
	<div class="menu_item" id="headerMasterTask">
		<div class="app_icon_container" id="overviewIcon">
			<%= link_to "Master Task List", admin_task_overview_path, class: "menu_item_text" %>
		</div>
	</div>
	<div class="menu_item" id="headerEnrollHospital">
		<div class="app_icon_container" id="enrollIcon">
			<%= link_to "Enroll Hospital", new_user_registration_path, class: "menu_item_text" %>
		</div>
	</div>
	<div class="menu_item" id="headerIssuesOverview">
		<div class="app_icon_container" id="issuesIcon">
			<%= link_to "Issues Report", admin_issue_index_path, class: "menu_item_text" %>
		</div>
	</div>
	<div class="menu_item" id="headerHelp">
		<div class="app_icon_container" id="helpIcon">
			<%= link_to "Help Me!", "/", class: "menu_item_text" %>
		</div>
	</div>
	<div class="menu_item" id="headerAccountModify">
		<div class="app_icon_container" id="accountModifyIcon">
			<%= link_to "Modify Account", edit_user_registration_path, class: "menu_item_text" %>
		</div>
	</div>
	<div class="menu_item" id="headerSignOut">
		<div class="app_icon_container" id="signOutIcon">
			<%= link_to "Sign out?", destroy_user_session_path, method: :delete, class: "menu_item_text" %>
		</div>
	</div>
</div>