<table class="headerControlsWrapperAdmin">
	<tr>
		<td><%= link_to "Sign out?", destroy_user_session_path, method: :delete, id: "headerSignOut" %></td>
	</tr>
	<tr>
		<td><%= link_to "View Issues Report", admin_issue_index_path, id: "headerIssuesOverview" %></td>
	</tr>
	<tr>
		<td><%= link_to "Hospital Overview", admin_view_path, id: "headerOverview" %></td>
	</tr>
	<tr>
		<td><%= link_to "Master Task List", admin_task_overview_path, id: "headerTaskOverview" %></td>
	</tr>
	<tr>
		<td><%= link_to "Enroll Hospital", new_user_registration_path, id: "headerViewAll" %></td>
	</tr>
	<tr>
		<td id="signedInAs" style="cursor:pointer;"><%= "+ Logged in as #{current_user.organization}"%></td>
	</tr>
</table>