<table id="headerControlsWrapper">
	<tr>
		<td><%= link_to "Sign out?", destroy_user_session_path, method: :delete, id: "headerSignOut" %></td>
	</tr>
	<tr>
		<td><%= link_to "Modify Account", edit_user_registration_path, id: "headerModify" %></td>
	</tr>
	<% if current_user.admin? %>
	<tr>
		<td><%= link_to "Hospital Overview", admin_view_path, id: "headerViewAll" %></td>
	</tr>
	<% else %>
	<tr>
		<td><%= link_to "Task List", tasks_path, id: "headerViewAll" %></td>
	</tr>
	<% end %>
	<tr>
		<td id="signedInAs"> + Signed in as <%= current_user.email %> </td>
	</tr>
</table>